<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>编辑首页信息</title>
    <link rel="stylesheet" href="../../static/css/sygl/bianji.css">
</head>
<body>
    <div id="tall">
        <div class="all_Msgs">
            <div class="shouye_Id">
                首页ID&nbsp;&nbsp;<input type="text" name="ids" id="shou_Id">
            </div>
            <div class="shouye_Img">
                首页图片&nbsp;&nbsp;<input type="text" name="imgs" id="shou_Imgs">
            </div>
            <div class="btn_All">
                <div class="btn_Left">重置</div>
                <div class="btn_Right">保存</div>
            </div>
        </div>
    </div>
</body>
</html> 