<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/POIgl/bianji.css">
    <script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.19.0-beta.1/axios.js"></script>
    <script src="../../static/js/POIgl/bianji.js"></script>
    <link rel="stylesheet" href="../../static/css/tanchuang.css">
</head>

<body>
    <div id="tall">
        <div style="width: 180px;height:60px;display: flex;justify-content: space-between;">
            <div class="fanhui"><a href="javascript:history.go(-1)" style="color: rgb(241, 134, 11);">返回</a></div>
            <div class="fanhui"><a href="javascript:void(0)" onclick="location.reload()"
                    style="color: rgb(241, 134, 11);">刷新</a></div>
        </div>
        <div class="all_Msgs">
            <div class="Name">编辑任务</div>
            <!-- <div class="Msgs_Show">任务id&nbsp;&nbsp;<input type="text" v-model="workId" name="renwu_id" id="renwu_id"> -->
            <!-- </div> -->

            <div class="Msgs_Show">任务类型&nbsp;&nbsp;<select name="renwu_class" id="renwu_class"
                    style="border-radius: 10px 10px;" v-model='chooseMsg'>
                    <option value="1-文字说明任务">1-文字说明任务</option>
                    <option value="2-上传图片任务">2-上传图片任务</option>
                    <option value="4-文字选择任务">4-文字选择任务</option>
                    <option value="8-图片选择任务">8-图片选择任务</option>
                </select></div>
            <div class="Msgs_Show">任务排序&nbsp;&nbsp;<input type="text" v-model="workSort" name="renwu_id" id="renwu_id">
            </div>
            <div class="Msgs_Show2">任务内容&nbsp;&nbsp;<textarea style="border-radius: 10px 10px;" v-model="work_Msg"
                    name="renwu_Msgs" id="renwu_Msgs"></textarea>
                <span>说明：换行请用\n</span>
            </div>
            <!-- 文字说明任务 -->
            <div class="wenzi_shouming" v-if="chooseMsg === '1-文字说明任务'">
                <div class="Msgs_Show1">任务按钮文字&nbsp;&nbsp;<input type="text" v-model="workBtn" name="renwu_btn"
                        id="renwu_btn">
                    <span>说明：换行请用\n</span>
                </div>
                <div class="Msgs_Show1">示例配图&nbsp;&nbsp;<input type="text" v-model="work_Imgs" name="renwu_btn"
                        id="renwu_btn">
                    <span>说明:添加形式（例："https://xxx.html"）</span>
                </div>
            </div>
            <!-- 上传图片任务 -->
            <div class="wenzi_shouming" v-if="chooseMsg === '2-上传图片任务'">
                <div class="Msgs_Show1">任务配图&nbsp;&nbsp;<input type="text" v-model="work_Imgs" name="renwu_btn"
                        id="renwu_btn">
                    <span>说明:添加形式（例："https://xxx.html"）</span>
                </div>
                <div class="Msgs_Show1">任务按钮文字&nbsp;&nbsp;<input type="text" v-model="workBtn" name="renwu_music"
                        id="renwu_music">
                    <span>说明：换行请用\n</span>
                </div>
            </div>
            <!-- 文字选择任务 -->
            <div class="wenzi_choose" v-if="chooseMsg == '4-文字选择任务'">
                <div class="choose">
                    <div class="choose_ch1" v-for="(cz,key) in choose_wenzi">
                        选择文字&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" v-model="cz.ctx"
                            class="choose_ch_one" name="choose_ch1_wenzi"
                            id="choose_ch1_wenzi">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;跳转任务id&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
                            type="text" class="choose_ch_two" v-model="cz.target" name="choose_ch1_jump"
                            id="choose_ch1_jump">
                    </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>说明：请顺序填写</span>
                    <div class="Msgs_Show1">示例配图&nbsp;&nbsp;<input type="text" v-model="work_Imgs" name="renwu_btn"
                            id="renwu_btn">
                        <span>说明:添加形式（例："https://xxx.html"）</span>
                    </div>
                    <!-- <div class="choose_ch1">说明：换行请用\n</div> -->
                </div>
            </div>
            <!-- 图片选择任务 -->
            <div class="wenzi_choose" v-if="chooseMsg == '8-图片选择任务'">
                <div class="choose">
                    <div class="choose_ch1" v-for="(ci,key) in choose_Img">
                        选择图片&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" v-model="ci.ctx"
                            class="choose_ch_one" name="choose_ch1_wenzi"
                            id="choose_ch1_tupian">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;跳转任务id&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
                            type="text" v-model="ci.target" class="choose_ch_two" name="choose_ch1_jump"
                            id="choose_ch1_jump_tu">
                    </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>说明：请顺序填写</span>
                    <!-- <div class="choose_ch1">说明：换行请用\n</div> -->
                </div>
            </div>
            <div class="Msgs_Show1" style="width:80%;margin-left:10%;">任务语音&nbsp;&nbsp;<input type="text"
                    v-model="workAudio" name="renwu_music" id="renwu_music">
                <span>说明：换行请用\n</span>
            </div>
            <div class="btn_All">
                <div class="btn_Left" @click="chongzhi()">重置</div>
                <div class="btn_Right" @click="saves()">保存</div>
            </div>
        </div>
    </div>
</body>

</html>