<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/POIgl/bianji.css">
    <script src="../../static/wangEditor-3.1.1/release/wangEditor.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.19.0-beta.1/axios.js"></script>
    <link rel="stylesheet" href="../../static/css/tanchuang.css">
    <link rel="stylesheet" href="../../static/css/fanhui.css">
    <script src="../../static/js/POIgl/bianji.js"></script>
</head>

<body>
    <div id="tall" style="min-width:1250px;">
        <div class="TopChoose" style="left: 2%;">
            <div class="fanhui">
                <img src="../../static/images/fanhui.png" alt="">
                <a href="javascript:history.go(-1)">返回</a>
            </div>
            <div class="reFalsh">
                <img src="../../static/images/shuaxin.png" alt="">
                <a href="javascript:void(0)" onclick="location.reload()">刷新</a>
            </div>
        </div>
        <div class="all_Msgs">
            <div class="Name">编辑任务</div>
            <!-- <div class="Msgs_Show">任务id&nbsp;&nbsp;<input type="text" v-model="workId" name="renwu_id" id="renwu_id"> -->
            <!-- </div> -->
            <div class="Msgs_Show">
                <p class="itemName">任务类型</p>
                <select name="renwu_class" id="renwu_class" v-model='chooseMsg'>
                    <option value="1-文字说明任务">1-文字说明任务</option>
                    <option value="2-上传图片任务">2-上传图片任务</option>
                    <option value="4-文字选择任务">4-文字选择任务</option>
                    <option value="8-图片选择任务">8-图片选择任务</option>
                    <option value="16-沉浸式任务">16-沉浸式任务</option>
                </select>
            </div>
            <div class="Msgs_Show">
                <p class="itemName">任务排序</p>
                <input type="text" v-model="workSort" name="renwu_id" id="renwu_id">
            </div>
            <div class="Msgs_Show2">
                <p class="itemName">任务内容</p>
                <div class="fwb">
                    <div id="editor">
                        <p></p>
                    </div>
                </div>
                <!-- <span>说明：换行请用\n</span> -->
            </div>
            <div style="height: 240px;"></div>
            <!-- 文字说明任务 -->
            <div class="wenzi_shouming" v-if="chooseMsg === '1-文字说明任务'">
                <div class="Msgs_Show1">
                    <p class="itemName">任务按钮文字</p>
                    <input type="text" v-model="workBtn" name="renwu_btn" id="renwu_btn">
                    <span>说明：换行请用\n</span>
                </div>
                <div class="Msgs_Show1">
                    <p class="itemName">任务配图</p>
                    <input type="text" v-model="work_Imgs" name="renwu_btn" id="renwu_btn">
                    <span>说明:添加形式（例：https://xxx.html）</span>
                </div>
                <div class="Msgs_Show1">跳转任务id&nbsp;&nbsp;<input type="text" v-model="wenziTaskId" name="renwu_btn"
                        id="renwu_btn">
                    <span>选填，默认为下一个任务</span>
                </div>
            </div>
            <!-- 上传图片任务 -->
            <div class="wenzi_shouming" v-if="chooseMsg === '2-上传图片任务'">
                <div class="Msgs_Show1">任务配图&nbsp;&nbsp;<input type="text" v-model="work_Imgs" name="renwu_btn"
                        id="renwu_btn">
                    <span>说明:添加形式（例：https://xxx.html）</span>
                </div>
                <div class="Msgs_Show1">任务按钮文字&nbsp;&nbsp;<input type="text" v-model="workBtn" name="renwu_music"
                        id="renwu_music">
                    <span>说明：换行请用\n</span>
                </div>
                <div class="Msgs_Show1">跳转任务id&nbsp;&nbsp;<input type="text" v-model="imgTaskId" name="renwu_btn"
                        id="renwu_btn">
                    <span>选填，默认为下一个任务</span>
                </div>
            </div>
            <!-- 文字选择任务 -->
            <div class="wenzi_choose" v-if="chooseMsg == '4-文字选择任务'">
                <div class="choose">
                    <div class="choose_ch1" v-for="(cz,key) in choose_wenzi">
                        <div class="choose_ch1_jumps">
                            <div class="Choose_WZ">
                                <p class="Cwenzhi">选择文字</p>
                                <div class="choose_CH1_wz">
                                    <input type="text" v-model="cz.ctx" class="choose_ch_one" name="choose_ch1_wenzi"
                                        id="choose_ch1_wenzi">
                                    <div class="choose_ch1_jumpid">
                                        跳转任务id<input type="text" class="choose_ch_two" v-model="cz.target"
                                            name="choose_ch1_jump" id="choose_ch1_jump">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="choose_ch1_jumps" style="margin-top: 22px;">
                        <div class="choose_Task">说明：请顺序填写</div>
                    </div>
                </div>
            </div>
            <div class="Msgs_Show1" style="width: 80%;margin-left:10%;" v-show="chooseMsg == '4-文字选择任务'">
                <p class="itemName">任务配图</p>
                <input type="text" v-model="work_Imgs" name="renwu_btn" id="renwu_btn">
                <span>说明:添加形式（例：https://xxx.html）</span>
            </div>
            <!-- 图片选择任务 -->
            <div class="wenzi_choose" v-if="chooseMsg == '8-图片选择任务'">
                <div class="choose" style="height: 288px;">
                    <div class="choose_ch1" v-for="(ci,key) in choose_Img">
                        <div class="choose_ch1_jumps">
                            <div class="Choose_WZ">
                                <p class="Cwenzhi">选择图片</p>
                                <div class="choose_CH1_wz">
                                    <input type="text" v-model="ci.ctx" class="choose_ch_one" name="choose_ch1_wenzi"
                                        id="choose_ch1_tupian">
                                    <div class="choose_ch1_jumpid">
                                        跳转任务id<input type="text" v-model="ci.target" class="choose_ch_two"
                                            name="choose_ch1_jump" id="choose_ch1_jump_tu">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="choose_ch1_jumps" style="margin-top: 22px;">
                        <div class="choose_Task">说明：请顺序填写</div>
                    </div>
                </div>
            </div>
            <div class="Msgs_Show">任务语音&nbsp;&nbsp;<input type="text" v-model="workAudio" name="renwu_music"
                    id="renwu_music">
                <!-- <span>说明：换行请用\n</span> -->
            </div>
            <!-- 沉浸式任务 -->
            <div class="deep_Show" v-if="chooseMsg == '16-沉浸式任务'" style="margin-top:30px;width: 74%;background: rgba(197, 197, 197, 0.4);">
                <div class="chenjin" v-for="item in choose_chenjin"
                    style="margin-top: 30px;border-top:1px dashed rgb(90, 90, 90);">
                    <!-- 选择文字 -->
                    <div class="deep_Choose" style="display: flex;justify-content: space-between;height: 100px;width: 94%;margin-left: 33px;">
                        <div class="deep_ch1">选项文字&nbsp;&nbsp;
                            <div class="deep_nav">
                                <input type="text" name="deep_choo se" id="deep_choose" v-model="item.ctx">
                                <span>建议不超过6个字</span>
                            </div>
                        </div>
                        <div class="deep_ch2">跳转任务id&nbsp;&nbsp;<input type="text" name="deep_choose"
                                v-model="item.target"></div>
                    </div>
                    <!-- 缩略图 -->
                    <div class="deep_Choose">

                        <div class="deep_Suo">
                            <div style="height: 40px;line-height: 40px;"> 缩略图链接&nbsp;&nbsp;
                                <input type="text" name="deep_suolve" v-model="item.thumb">
                            </div>
                            <br>
                            <div class="deep_Suo_Msg">
                                <span>尺寸：650*300(1张)/320*180(2张以上),</span>
                                <br>
                                <span>命名：poi名字全拼_task_m_optn.jpg(m表示任务序号，n表示第几个选项).</span>
                                <br>
                                <p>例如：mengyou_task_2_opt1.jpg</p>
                            </div>
                        </div>
                    </div>

                    <!-- 前景图 -->
                    <div class="deep_Choose">
                        <div class="deep_qian">
                            <div id="deep_Qian" style="height: 40px;line-height: 40px;">前景图链接&nbsp;&nbsp;
                                <div class="qian_dd"><input type="text" style="width: 64%;"
                                        v-model="item.fore"><span>(选填)</span></div>
                            </div>
                            <br>
                            <div class="deep_Suo_Msg">
                                <span>尺寸：宽750，高1334以内，居中显示，建议透明度</span>
                                <br>
                                <span>命名：Poi名字全拼_task_m_fore_n.jpg(m表示任务序号，n表示第几个选项)。</span>
                                <br>
                                <p>例如：mengyou_task_2_fore_1.jpg</p>
                            </div>
                        </div>
                    </div>
                    <!-- 背景图 -->
                    <div class="deep_Choose">
                        <div class="deep_qian">
                            <div style="height: 40px;line-height: 40px;">背景图链接&nbsp;&nbsp;
                                <input type="text" v-model="item.back"></div>
                            <br>
                            <div class="deep_Suo_Msg">
                                <span>尺寸：宽750，高1334以内，居中显示，建议透明度</span>
                                <br>
                                <span>命名：Poi名字全拼_task_m_fore_n.jpg(m表示任务序号，n表示第几个选项)。</span>
                                <br>
                                <p>例如：mengyou_task_2_back_1.jpg</p>
                            </div>
                        </div>
                    </div>
                    <div class="deep_Choose">
                        <div class="deep_link">音频链接&nbsp;&nbsp;<input type="text" v-model="item.url"></div>
                        <div class="deep_link1">音频时长(秒)&nbsp;&nbsp;<div id="deep_links"><input type="text"
                                    v-model="item.ln"></div>
                        </div>
                    </div>
                    <!-- 删除 -->
                    <div class="Delete" v-if="choose_chenjin.length != 1" @click="delChenjin(item.delIndex)"
                        v-model="item.delIndex">
                        <img src="../../static/images/delete.png" alt="" style="margin-left:10px;">
                    </div>
                </div>

                <div class="chenjin_Add" v-if="Addchenjinshow" @click="addChenjin()">
                    <div class="chenjin_Nav">
                        <img src="../../static/images/tianjia.png" alt="">&nbsp;&nbsp;<div class="chenjin_News">新增</div>
                    </div>
                </div>
            </div>
            <div class="btn_All" style="margin-bottom: 20px;">
                <div class="btn_Left" @click="chongzhi()">重置</div>
                <div class="btn_Right" @click="saves()">保存</div>
            </div>
        </div>
    </div>
</body>

</html>