<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>欢迎页面-X-admin2.0</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="stylesheet" href="../../static/css/font.css">
  <link rel="stylesheet" href="../../static/css/xadmin.css">
  <link rel="stylesheet" href="../../static/lib/layui/css/layui.css">
  <script type="text/javascript" src="../../static/lib/layui/layui.js" charset="utf-8"></script>
  <script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
  <script type="text/javascript" src="../../static/js/xadmin.js"></script>
  <script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.min.js"></script>
  <script src="https://cdn.bootcss.com/axios/0.16.1/axios.js"></script>
  <link rel="stylesheet" href="../../static/css/dygl/dygl.css">
  <link rel="stylesheet" href="../../static/css/fenye.css">
  <link rel="stylesheet" href="../../static/css/tanchuang.css">
  <script src="../../static/js/loginCon/loginCon.js"></script>

</head>

<body>
  <div class="x-nav">
    </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
      href="javascript:location.replace(location.href);" title="刷新">
      <i class="layui-icon" style="line-height:30px">ဂ</i></a>
  </div>
  <div class="x-body" id="tall" style="overflow-y:scroll;">
    <div class="chaxun" style="width: 100%;position: relative;">

      <!-- 账号昵称&nbsp;&nbsp;<input type="text" name="loginNum" v-model="loginNum" id="loginNum"> <i v-on:click="looks()" -->
        <!-- class="iconfont" style=" margin-left:20px; cursor: pointer;">&#xe6ac;</i> -->
        <div @click="Changepwd()" style="position: absolute;top:0px;right:10px;width:60px;height:60px;color:black;font-size: 1.2em;text-align: center;line-height: 60px;cursor: pointer;">修改密码</div>
    </div>

    <xblock>
      <button class="layui-btn layui-btn-danger" v-on:click="delAll()"><i class="layui-icon"></i>批量删除</button>
      <button class="layui-btn" @click="add_touer()"><i class="layui-icon"></i>添加</button>
      <span class="x-right" style="line-height:40px">共有数据： {{total}}条</span>
    </xblock>
    <table class="layui-table" style="min-width:1000px;">
      <thead>
        <tr>
          <th>选择</th>
          <th>操作</th>
          <th>账号</th>
          <th>渠道</th>
        </tr>
      </thead>
      <tbody id="tbodys" v-for="item in MemberList"> 
        <tr>
          <td>
           <input type="checkbox" class="checks" :value="item.id" v-model="checkId">
          </td>
          <td class="td-manage">
            <a title="编辑" @click='btn_link(item.id,item.channel_id)'>
              <i class="layui-icon">&#xe63c;</i>
            </a>
            <a title="删除" @click="del(item.id)" href="javascript:;">
              <i class="layui-icon">&#xe640;</i>
            </a>
            <a title="重置密码" @click="RewritePwd(item.id)">
              <img style="width: 12px;height:12px;" src="../../static/images/rewrite.png" alt="">
            </a>
          </td>
          <td>{{item.name}}</td>
          <td>{{item.channel_id}}-{{item.channel_name}}</td>
        </tr>  
      </tbody>
    </table>
    <div class="page-bar">
        <ul>
            <li v-if="cur>1"><a v-on:click="cur--,pageClick()">上一页</a></li>
            <li v-if="cur==1"><a class="banclick">上一页</a></li>
            <li v-for="index in indexs"  v-bind:class="{ 'active': cur == index}">
                <a v-on:click="btnClick(index)">{{ index }}</a>
            </li>
            <li v-if="cur!=all"><a v-on:click="cur++,pageClick()">下一页</a></li>
            <li v-if="cur == all"><a class="banclick">下一页</a></li>
            <li><a>共<i>{{all}}</i>页</a></li>
        </ul>
     
    </div> 

    <div class="tanchuang" v-if="tan_show == true">
      <div class="tanMsgs">你确定要删除此内容吗？</div>
      <div class="tanBtns">
        <div class="Cancel" v-on:click="Cancels()">取消</div>
        <div class="Confirms" v-on:click="Confirms()">确定</div>
      </div>
    </div>
    <div class="tanchuang" v-if="tan_show_list == true">
      <div class="tanMsgs">你确定要删除此内容吗？</div>
      <div class="tanBtns">
        <div class="Cancel" v-on:click="Refuse()">取消</div>
        <div class="Confirms" v-on:click="Delete()">确定</div>
      </div>
    </div>
  </div>

</body>

</html>