body {
    background: #f6f7fb;
}

.chaxun {
    width: 1300px;
    height: 60px;
    /* border: 1px solid black; */
    font-size: 14px;
    line-height: 60px;
}

.chaxun input {
    width: 380px;
    height: 36px;
    line-height: 36px;
    border: 1px solid rgb(134, 134, 134);
    font-size: 14px;
    
}

.chaxun img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    cursor: pointer;
}
