
.page-bar{
    margin-left:35%;
    width: 50%;
}
ul,li{
    margin: 0px;
    padding: 0px;
}
li{
    list-style: none;
}
.page-bar li:first-child>a {
   margin-left: 0px;
   
}
.page-bar a{
    border: 1px solid #ddd;
    text-decoration: none;
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    cursor: pointer;
}
.page-bar a:hover{
    background-color: #eee;
}
.page-bar a.banclick{
    cursor:not-allowed;
}
.page-bar .active a{
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}
.page-bar i{
    font-style:normal;
    color: #d44950;
    margin: 0px 4px;
    font-size: 12px;
}

.checks[type=checkbox] {
    position: relative;
    width: 17px;
    height: 17px;
    background: #fff;
    margin-right: 5px;
    /* border: none; */
    /* -web-kit-appearance:none; */
    /* -moz-appearance: none; */
    /* border: 1px solid rgb(112, 112, 112);    */
}

.checks[type=checkbox]::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 17px;
    height: 17px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 16px;
    background: #fff;
    border: 1px solid rgb(153, 153, 153);
}

.checks[type=checkbox]:checked::before {
    content: '✔';
    color: white;
    line-height: 17px;
    background: #26d09f;
}

.page-bar #pages {
    width: 78px;
    line-height: 1.42857143;
    height: 34px;
    color: #337ab7;
}

.home {
    width: 80px;
    height: 100%;
    line-height: 100%;
}

.home img {
    margin-top: -2px;
    width: 18px;
    height: 18px;
}