* {
    margin: 0px;
    padding: 0px;
}

input {
    border-radius: 10px 10px;
    border: 1px solid rgb(100, 100, 100);
}

#tall {
    width: 100%;
    height: 100%;

    /* background-color:  rgb(230, 116, 116); */
}

.all_Msgs {
    width: 90%;
    height: 800px;
    /* border: 1px solid black; */
    margin-left: 5%;
    margin-top: 50rpx;
}


.Name {
    width: 50%;
    height: 50px;
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    margin-left: 25%;
    margin-top: 20px;

}

.Msgs_Show {
    position: relative;
    width: 80%;
    height: 40px;
    line-height: 40px;
    margin-left: 10%;
    margin-top: 20px;
    /* border: 1px solid black; */
}

.Msgs_Show input {
    position: absolute;
    right: 5px;
    width: 80%;
    height: 40px;
    border-radius: 10px 10px;
    border: 1px solid rgb(100, 100, 100);
    font-size: 1.2em;

}

.Msgs_Show select {
    position: absolute;
    right: 5px;
    width: 80%;
    height: 40px;
    border: 1px solid rgb(100, 100, 100);
    font-size: 1.2em;

}

.wenzi_shouming,
.shangchuan_shouming,
.wenzi_choose,
.deep_Show {
    /* border: 1px solid black; */
    width: 80%;
    /* height: 500px; */
    margin-left: 10%;
}

.chenjin {
    position: relative;
    width: 100%;
    height: 100%;
}

.chenjin_Add {
    margin-top: 30px;
    width: 100%;
    height: 40px;
    background-color: rgba(75, 74, 74, 0.5);
    text-align: center;
    line-height: 40px;
    font-size: 1.4em;
    cursor: pointer;
    border-radius: 10px;
}

.Msgs_Show2 {
    position: relative;
    width: 80%;
    height: 150px;
    line-height: 40px;
    margin-top: 20px;
    margin-left: 10%;
    /* border: 1px solid black; */
}

.Msgs_Show2 textarea {
    position: absolute;
    right: 5px;
    width: 80%;
    height: 120px;
    border: 1px solid rgb(100, 100, 100);
    font-size: 1.2em;
    color: black;

}

.Msgs_Show2 span {
    position: absolute;
    bottom: 0px;
    width: 80%;
    height: 30px;
    line-height: 30px;
    right: 5px;
}

.Msgs_Show1 {
    position: relative;
    width: 100%;
    height: 70px;
    line-height: 40px;
    margin-top: 20px;
    /* border: 1px solid black; */
}


.Msgs_Show1 input {
    position: absolute;
    right: 5px;
    width: 80%;
    height: 40px;
    border-radius: 10px 10px;
    border: 1px solid rgb(100, 100, 100);
    font-size: 1.2em;

}


.Msgs_Show1 span {
    position: absolute;
    bottom: 0px;
    width: 80%;
    height: 30px;
    line-height: 30px;
    right: 5px;
}

/* 文字选择任务 */
.choose {
    /* position: relative; */
    width: 100%;
    height: 295px;
    background-color: rgba(250, 221, 168, .4);
}

.choose_ch1 {
    /* position: absolute; */
    width: 94%;
    height: 40px;
    margin-left: 3%;
    margin-top: 10px;
    /* border: 1px solid black; */
}


.choose_ch_one {
    width: 450px;
    height: 40px;
    font-size: 1.2em;
    border: 1px solid rgb(134, 134, 134);

}

.choose_ch_two {
    width: 60px;
    height: 40px;
    font-size: 1.2em;
    border: 1px solid rgb(134, 134, 134);

}


.Msgs_Show1 select {
    position: absolute;
    right: 5px;
    width: 80%;
    height: 40px;
    border: 1px solid rgb(100, 100, 100);
    font-size: 1.2em;

}

.msgs_Alls {

    width: 50%;
    margin-top: 20px;
    margin-left: 25%;
    /* border: 1px solid black; */
}

.shouye_Img {
    position: relative;
    widows: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 1.2em;
    margin-top: 10px;

}

.shouye_Img input {
    position: absolute;
    right: 10px;
    width: 75%;
    height: 40px;
    font-size: 1.2em;
    border-radius: 10px 10px;
    color: rgb(116, 114, 114);
    border: 1px solid rgb(105, 105, 105);

}

.btn_All {
    display: flex;
    justify-content: space-between;
    height: 40px;
    width: 50%;
    margin-top: 20px;
    margin-left: 25%;
    /* border: 1px solid black; */
}



.btn_Left,
.btn_Right {
    cursor: pointer;
    width: 70px;
    height: 40px;
    border-radius: 10px 10px;
    color: white;
    font-size: .9em;
    line-height: 40px;
    text-align: center;
}

.btn_Left {
    background-color: #e08e0b;

}

.btn_Right {
    background-color: #00acd6;
}

#daoname {
    width: 500px;
}

.chicun {
    width: 500px;
    display: flex;
    justify-content: space-between;
    line-height: 40px;
}

#num1 {
    height: 40px;
    font-size: 1.2em;
    width: 200px;
}

.bianji,
.add {
    width: 48%;
    border-radius: 10px 10px;
    border: 1px solid rgb(241, 241, 241);
    background-color: rgba(192, 192, 192, 0.5);
    color: #e08e0b;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
}

.Bianji,
.Add {
    width: 48%;
    border-radius: 10px 10px;
    border: 1px solid rgb(241, 241, 241);
    background-color: rgba(47, 248, 98, 0.5);
    color: #ffffff;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
}

/* 沉浸式任务 */
.deep_Choose {
    width: 100%;
    height: auto;
    /* border: 1px solid black; */
    margin-top: 20px;

}

.deep_nav,
.deep_Suo {
    width: 85%;
    height: auto;
    
}

.deep_ch1 {
    position: relative;
    width: 70%;
    height: 40px;
    line-height: 40px;
    font-size: 1.2em;
}

.deep_ch2 {
    position: relative;
    width: 30%;
    height: 40px;
    line-height: 40px;
    font-size: 1.2em;

}

.deep_nav {
    position: absolute;
    /* bottom: 0px; */
    top: 0px;
    right: 0px;
    width: 72%;
    height: 80px;
    font-size: 1em;
}

.deep_nav input {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 60%;
    height: 40px;
    font-size: 1.1em;
}

.deep_nav span {
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-size: 1em;
}

.deep_ch2 input {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 60%;
    height: 40px;
    font-size: 1.1em;
}

#deep_Qian{
    position: relative;
}

#deep_Qian input {
    width: 75%;
    position: absolute;
    right: 67px;
}

#deep_Qian span {
    position: absolute;
    top: 0px;
    right: 15px;
    color: black;
}

.deep_Suo, .deep_qian {
    position: relative;
    height: 115px;
    width: 100%;
}

.deep_Suo input,
.deep_qian input {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 80%;
    height: 40px;
    font-size: 1.1em;
    
}

.deep_Suo_Msg {
    position: absolute;
    width: 80%;
    right: 0px;
    bottom: 0px;    
}

.deep_Suo span,
.deep_qian span {
    color: red;
    font-size: 1em;
}

.deep_Suo p,
.deep_qian p {
    color: black;
    font-size: 1em;
}

.deep_link,
.deep_link1 {
    position: relative;
    font-size: 1.2em;
    height: 40px;
    display: flex;
    justify-content: space-between;
    line-height: 40px;
    margin-top: 10px;
}

.deep_link input {
    position: absolute;
    right: 0px;
    width: 80%;
    height: 40px;
    font-size: 1em;
}

#deep_links {
    position: absolute;
    right: 0px;
    width: 80%;
}

#deep_links input {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20%;
    height: 40px;
    font-size: 1em;
}

/* 删除 */
.Delete {
    position: absolute;
    right: -40px;
    top: 321px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    /* border: 1px solid black; */
}

.Delete img {
    width: 100%;
    height: 100%;
}