* {
    margin: 0px;
    padding: 0px;
}

input {
    /* border-radius: 10px 10px; */
    border: 1px solid rgb(100, 100, 100);
}

body {
    background: #f6f7fb;
    color: rgb(102, 102, 102);
    font-size: 14px;
}

#tall {
    width: 100%;
    height: 100%;

    /* background-color:  rgb(230, 116, 116); */
}

.all_Msgs {
    width: 95%;
    height: auto;
    /* border: 1px solid black; */
    margin-left: 2.5%;
    margin-top: 23px;
}

.all_Msgs1 {
    width: 95%;
    height: auto;
    /* border: 1px solid black; */
    margin-left: 2.5%;
    margin-top: 23px;
}

.Name {
    width: 50%;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    margin-left: 25%;
    margin-top: -20px;

}

.Msgs_Show {
    position: relative;
    width: 80%;
    height: 40px;
    line-height: 40px;
    margin-left: 10%;
    margin-top: 20px;
    /* border: 1px solid black; */
}

.itemName {
    position: absolute;
    width: 102px;
}

.Msgs_Show input {
    position: absolute;
    left: 122px;
    width: 80%;
    height: 40px;
    /* border-radius: 10px 10px; */
    border: 1px solid rgb(100, 100, 100);
    font-size: 14px;

}

.Msgs_Show select {
    position: absolute;
    left: 122px;
    width: 80%;
    height: 40px;
    border: 1px solid rgb(146, 146, 146);
    font-size: 1.2em;

}

.wenzi_shouming,
.shangchuan_shouming,
.wenzi_choose,
.deep_Show {
    /* border: 1px solid black; */
    width: 80%;
    /* height: 500px; */
    margin-left: 10%;
}

.chenjin {
    position: relative;
    width: 100%;
    height: 100%;
}

.chenjin_Add {
    margin-top: 30px;
    width: 100%;
    height: 40px;
    background: #D8D8D8;
    border: 1px solid #999999;
    cursor: pointer;
}

.chenjin_Nav {
    width: 77px;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.chenjin_News {
    height: 40px;
    line-height: 40px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #333333;
    letter-spacing: 0;

}

.chenjin_Nav img {
    margin-top: 11px;
    margin-left: 20px;
    width: 18px;
    height: 18px;
}


.Msgs_Show2 {
    position: relative;
    width: 80%;
    height: 120px;
    /* line-height: 40px; */
    margin-top: 20px;
    margin-left: 10%;
}

.fwb {
    position: absolute;
    left: 122px;
    width: 80%;
    top: 0px;
    height: 450px;
    /* font-size: 1.2em; */
    color: rgb(102, 102, 102);

}

/* .Msgs_Show2 span {
    position: absolute;
    bottom: 0px;
    width: 80%;
    height: 30px;
    right: 5px;
} */


/* 文字选择任务 */
.choose {
    /* position: relative; */
    width: 92.5%;
    height: 288px;
    /* margin-top: 10px; */
    background: #F2F2F2;
    border: 1px solid #999999;
}

.choose_ch1 {
    /* position: absolute; */
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    /* margin-left: 3%; */
    margin-top: 10px;
    /* border: 1px solid rgb(214, 74, 74); */
}

.Msgs_Show1 {
    position: relative;
    width: 100%;
    height: 70px;
    line-height: 40px;
    /* margin-left: 10%; */
    margin-top: 19px;
    /* border: 1px solid black; */
}


.Msgs_Show1 input {
    position: absolute;
    left: 122px;
    width: 80%;
    height: 40px;
    /* border-radius: 10px 10px; */
    border: 1px solid rgb(100, 100, 100);
    font-size: 14px;

}
span,p {
    color: rgb(102, 102, 102);
}

.Choose_WZ {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    /* margin-left: 5%; */
}

.Choose_WZ:nth-of-type(1) {
    margin-top: 30px;
}

.Msgs_Show1 span {
    position: absolute;
    bottom: 0px;
    width: 80%;
    height: 30px;
    color: rgb(102, 102, 102);
    line-height: 30px;
    left: 122px;
}


.choose_ch1_jumps {
    position: relative;
    line-height: 40px;
    width: 100%;
    height: 40px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
}


.Cwenzhi {
    position: absolute;
    left: 32px;
    height: 40px;
    width: 70px;
    line-height: 40px;
}
.choose_CH1_wz {
    position: absolute;
    right: 0px;
    /* left: 300px; */
    width: 87%;
    /* border: 1px solid black; */
    top: 0px;
    display: flex;
    justify-content: space-between;
}

.choose_input {
    width: 50%;
}

.choose_Task {
    position: absolute;
    left: 122px;
    /* border: 1px solid black; */
    margin-top: 10px;
    width: 81%;
    height: 40px;
    line-height: 40px;
    /* margin-top: 10px; */
    margin-bottom: 10px;
    /* margin-right: 0px; */
}

.choose_ch1_jumpid {
    line-height: 40px;
    margin-right: 30px;
    width: 258px;
    height: 40px;
    display: flex;
    /* border: 1px solid rgb(194, 37, 37);     */
    justify-content: space-between;
}

.choose_ch_one {
    width: 441px;
    height: 40px;
    font-size: 1.2em;
    border: 1px solid rgb(134, 134, 134);

}

.choose_ch_two {
    width: 150px;
    height: 40px;
    font-size: 1.2em;
    border: 1px solid rgb(134, 134, 134);

}


.Msgs_Show1 select {
    position: absolute;
    right: 5px;
    width: 80%;
    height: 40px;
    border: 1px solid rgb(100, 100, 100);
    font-size: 1.2em;

}

.msgs_Alls {

    width: 50%;
    margin-top: 20px;
    margin-left: 25%;
    /* border: 1px solid black; */
}

.shouye_Img {
    position: relative;
    widows: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 1.2em;
    margin-top: 10px;

}

.shouye_Img input {
    position: absolute;
    right: 10px;
    width: 75%;
    height: 40px;
    font-size: 14px;
    /* border-radius: 10px 10px; */
    color: rgb(116, 114, 114);
    border: 1px solid rgb(105, 105, 105);

}

.chicun {
    width: 500px;
    display: flex;
    justify-content: space-between;
    line-height: 40px;
}

#num1 {
    height: 40px;
    font-size: 1.2em;
    width: 200px;
}

.bianji,
.add {
    width: 48%;
    border-radius: 10px 10px;
    border: 1px solid rgb(241, 241, 241);
    background-color: rgba(192, 192, 192, 0.5);
    color: #e08e0b;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
}

.Bianji,
.Add {
    width: 48%;
    border-radius: 10px 10px;
    border: 1px solid rgb(241, 241, 241);
    background-color: rgba(47, 248, 98, 0.5);
    color: #ffffff;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
}

/* 沉浸式任务 */
.deep_Choose {
    width: 90%;
    height: auto;
    /* margin-left: 10%; */
    /* border: 1px solid black; */
    margin-top: 20px;
    margin-left: 33px;

}

.deep_nav,
.deep_Suo {
    width: 85%;
    height: auto;
    
}

.deep_ch1 {
    position: relative;
    width: 70%;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
}

.deep_ch2 {
    position: relative;
    width: 30%;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    margin-left: 33px;

}

.deep_nav {
    position: absolute;
    /* bottom: 0px; */
    top: 0px;
    left: 119px;
    width: 100%;
    height: 80px;
    font-size: 14px;
}

.deep_nav input {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 60%;
    height: 40px;
    border: 1px solid rgb(100, 100, 100);
    font-size: 14px;
}

.deep_nav span {
    position: absolute;
    bottom: 0px;
    color: rgb(102, 102, 102);
    left: 0px;
    font-size: 1em;
}

.deep_ch2 input {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 60%;
    height: 40px;
    border: 1px solid rgb(100, 100, 100);
    font-size: 14px;
}

#deep_Qian{
    position: relative;
}

.qian_dd {
    position: absolute;
    top: 0px;
    left: 5px;
    width: 80%;
    height: 40px;
    font-size: 1.1em;
}

.qian_dd input {
    width: 64%;
    position: absolute;
    border: 1px solid rgb(100, 100, 100);
    font-size: 14px;
    left: 0px;
}

#deep_Qian span {
    position: absolute;
    top: 0px;
    left: 86%;
    color: rgb(102, 102, 102);
}

.deep_Suo, .deep_qian {
    position: relative;
    height: 115px;
    width: 100%;
}

.deep_Suo input,
.deep_qian input {
    position: absolute;
    left: 119px;
    top: 0px;
    width: 90%;
    height: 40px;
    border: 1px solid rgb(100, 100, 100);
    font-size: 14px;
    
}

.deep_Suo_Msg {
    position: absolute;
    width: 80%;
    left: 119px;
    bottom: 0px;    
}

.deep_Suo span,
.deep_qian span {
    /* color: red; */
    color: rgb(102, 102, 102);
    font-size: 1em;
}

.deep_Suo p,
.deep_qian p {
    color: rgb(102, 102, 102);
    font-size: 1em;
}

.deep_link,
.deep_link1 {
    position: relative;
    /* font-size: 1; */
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    line-height: 40px;
    margin-top: 10px;
}

.deep_link input {
    position: absolute;
    left: 119px;
    width: 90%;
    height: 40px;
    border: 1px solid rgb(100, 100, 100);
    font-size: 14px;
}

#deep_links {
    position: absolute;
    left: 119px;
    width: 80%;
}

#deep_links input {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20%;
    height: 40px;
    border: 1px solid rgb(100, 100, 100);
    font-size: 14px;
}

/* 删除 */
.Delete {
    position: absolute;
    right: -33px;
    top: 321px;
    width: 22px;
    height: 22px;
    cursor: pointer;
    /* border: 1px solid black; */
}

.Delete img {
    width: 100%;
    height: 100%;
}