
body {
    background: #f6f7fb;
}

.Names {
    width: 30%;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    margin-left: 35%;
    
}

td select, td input {
    width: 694px;
    height: 50px;
    font-size: 14px;
    background: #FFFFFF;
    border: 1px solid #979797;
}

td textarea {
    width: 694px;
    height: 50px;
    font-size: 14px;
    background: #FFFFFF;
    border: 1px solid #979797;
}

.Nav_Title {
    width: 50%;
    height: 40px;
    margin-left: 22%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.Names1 {
    background: #E2E2E2;
    text-align: center;
    margin-left: 12px;
    width: 200px;
    height: 36px;
    line-height: 36px;
    font-family: PingFangSC-Medium;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    letter-spacing: 0;
}

.names1 {
    background: #666;
    text-align: center;
    margin-left: 12px;
    width: 200px;
    height: 36px;
    line-height: 36px;
    font-family: PingFangSC-Medium;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
    letter-spacing: 0;
}

.addWorks {
    width: 100px;
    height: 40px;
    background-color: rgba(1, 1, 1, .5);
    border-radius: 10px 10px;
    color: white;
    line-height: 40px;
    text-align: center;
    margin-left: 5%;
    cursor: pointer;
}

.taskImgs {
    width: 502px;
    height: auto;
}


.taskCh {
    width: 141%;
    height: 40px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.taskCh:nth-of-type(0) {
    margin-top: 0px;
}

.taskCh input {
    width: 694px;
    height: 40px;
    font-size: 1.2em;
    color: rgb(77, 77, 77);
}

.taskCh img {
    width: 10.7px;
    height: 10.7px;
    margin-left: 15px;
    margin-top: 14.6px;
    cursor: pointer;
}

.AddImgs {
    width: 60px;
    height: 18px;
    /* background-color: rgba(172, 172, 172, 0.5); */
    /* color: white; */
    /* text-align: center; */
    /* border-radius: 50%; */
    margin-top: 10px;
    margin-left: 0;
    /* font-size: 1.4em; */
    cursor: pointer;
    
}

.AddImgs img {
    line-height: 18px;
    width: 18px;
    height: 18px;
}

.AddImgs span {
    height: 18px;
    text-align: center;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #333333;
}