<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/POIgl/bianji.css">
</head>
<body>
    <div id="tall">
        <div class="all_Msgs">
            
            <div class="shouye_Img">
                主键&nbsp;&nbsp;<input type="text" name="imgs" id="shou_Imgs">
            </div>
            <div class="shouye_Img">
                POI ID&nbsp;&nbsp;<input type="text" name="imgs" id="shou_Imgs">
            </div>
            <div class="shouye_Img">
                任务类型&nbsp;&nbsp;<input type="text" name="imgs" id="shou_Imgs">
            </div>
            <div class="shouye_Img">
                任务种类&nbsp;&nbsp;<input type="text" name="imgs" id="shou_Imgs">
            </div>
            <div class="shouye_Img">
                任务语音文本&nbsp;&nbsp;<input type="text" name="imgs" id="shou_Imgs">
            </div>
            <div class="shouye_Img">
                按钮文本&nbsp;&nbsp;<input type="text" name="imgs" id="shou_Imgs">
            </div>
            <div class="shouye_Img">
                任务顺序&nbsp;&nbsp;<input type="text" name="imgs" id="shou_Imgs">
            </div>
            <div class="shouye_Img">
                增加时间&nbsp;&nbsp;<input type="text" name="imgs" id="shou_Imgs">
            </div>
            <div class="shouye_Img">
                任务图片&nbsp;&nbsp;<input type="text" name="imgs" id="shou_Imgs">
            </div>
            <div class="shouye_Img">
                任务状态&nbsp;&nbsp;<input type="text" name="imgs" id="shou_Imgs">
            </div>
            <div class="shouye_Img">
                任务class&nbsp;&nbsp;<input type="text" name="imgs" id="shou_Imgs">
            </div>
            <div class="shouye_Img">
                任务opt_arr&nbsp;&nbsp;<input type="text" name="imgs" id="shou_Imgs">
            </div>
        
            <div class="btn_All">
                <div class="btn_Left">重置</div>
                <div class="btn_Right">保存</div>
            </div>
        </div>
    </div>
</body>
</html>