<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/xadmin.css">
    <script type="text/javascript" src="../../static/lib/layui/layui.js" charset="utf-8"></script>
    <link rel="stylesheet" href="../../static/css/dygl/bianji.css">
    <script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.16.1/axios.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../../static/css/tanchuang.css">
    <script src="../../static/js/lxgl/bianji.js"></script>
</head>

<body>
    <div id="tall">
        <div style="width: 180px;height:60px;display: flex;justify-content: space-between;">
            <div class="fanhui"><a href="javascript:history.go(-1)" style="color: rgb(241, 134, 11);">返回</a></div>
            <div class="fanhui"><a href="javascript:void(0)" onclick="location.reload()" style="color: rgb(241, 134, 11);">刷新</a></div>
        </div>

        <!-- 编辑 -->
        <div class="all_Msgs">
            <table class="layui-table">
                <thead>
                    <tr>
                        <th style="width:40px;">类目</th>
                        <th style="min-width:60px;">填写</th>
                        <th>备注</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>渠道id</td>
                        <td><select style="color:black;width:663.6px;" name="qudaoId" id="qudaoId" v-model="qudao_Id">
                                <option v-for="qd in qudao" :value="qd.id">{{qd.id}}&nbsp;{{qd.name}}</option>
                            </select></td>
                        <td></td>
                       
                    </tr>
                    <tr>
                        <td>线路名称</td>
                        <td><textarea name="daoname" id="daoname" v-model="xianlu_Name" cols="90" rows="4"></textarea>
                        </td>
                        <td style="color: red;">20个字以内</td>
                        
                    </tr>
                    <tr>
                        <td>城市</td>
                        <td><textarea name="daoname" id="daoname" v-model="City" cols="90" rows="4"></textarea>
                        </td>
                        <td></td>
                      
                    </tr>
                    <tr>
                        <td>导游名字</td>
                        <td><select name="dName" id="dName" v-model="dNames" style="width:663.6px;color: black;">
                                <option v-for="dm in daoyouname" :value="dm.Name+','+dm.Id">{{dm.Name}}</option>
                            </select></td>
                        <td></td>
                       
                    </tr>
                    <tr>
                        <td>线路POI</td>
                        <td>
                            <div class="poiMsgsAll"
                                style="width: 700px;font-size: .9em;color:rgb(97, 97, 97); height: 300px;">
                                <div class="poi_Ch_Msg" style="width: 140px;float:left;" v-for="pl in Poilist">
                                    <input style="width: 18px;height:18px;" type="checkbox" :id="pl.Id"
                                        :value="pl.Id+','+pl.Name" v-model="checkedNames">
                                    <label :for="pl.Name">{{pl.Id}}-{{pl.Name}}</label>
                                </div>
                                <br>
                                <br><br>
                            </div>
                            <div style="position:absolute;bottom:0px;left:15px;">选择Poi_id: {{ checkedNames }}</div>

                        </td>
                        <td></td>
                       
                    </tr>
                    <tr>
                        <td>价格(分)</td>
                        <td><textarea name="daoname" id="daoname" v-model="Price" cols="90" rows="4"></textarea>
                        </td>
                        <td></td>
                        
                    </tr>
                    <tr>
                        <td>线路标签</td>
                        <td><textarea name="daoname" id="daoname" v-model="xianlu_Label" cols="90" rows="4"></textarea>
                        </td>
                        <td>每个标签最多6个字，最多4个标签，每个标签之间使用英文,间隔(例如：标签1,标签2,标签3)</td>
                        
                    </tr>
                    <tr>
                        <td>热度值</td>
                        <td><textarea name="daoname" id="daoname" v-model="viewCount" cols="90" rows="4"></textarea>
                        </td>
                        <td>你希望该条线路从多少热度值开始显示，用户浏览会自动增加热度值</td>
                   
                    </tr>
                    <tr>
                        <td>支付页图片</td>
                        <td><textarea name="daoname" id="daoname" v-model="zhifu_Img" cols="90" rows="4"></textarea>
                        </td>
                        <td>输入图片链接，用于支付页的图片展示，<span style="color: red;">图片尺寸：610*406，命名：zhifu_渠道名全拼_第几条线路</span>(例如：zhifu_guanfang_1.jpg)</td>
                        
                    </tr>
                   
                    <tr>
                        <td>线路盖章图</td>
                        <td><textarea name="daoname" id="daoname" v-model="xianlu_Icon" cols="90" rows="4"></textarea>
                        </td>
                        <td>输入图片链接，印章颜色推荐#000000，非印章区域为透明，<span style="color: red;">图片尺寸：220*174</span></td>
                       
                    </tr>
                   
                    <tr>
                        <td>独家回忆入口图</td>
                        <td><textarea name="daoname" id="daoname" v-model="dujia_InImg" cols="90" rows="4"></textarea>
                        </td>
                        <td>输入图片链接，<span style="color: red;">图片尺寸：650*350；图片命名：mem_inlet_渠道名全拼_第几条线路</span>(例如：mem_inlet_guanfang_1.png)</td>
                        
                    </tr>
                    <tr>
                        <td>独家回忆封面图</td>
                        <td><textarea name="daoname" id="daoname" v-model="dujia_fengImg" cols="90" rows="4"></textarea>
                        </td>
                        <td>输入图片链接，<span style="color: red;">图片尺寸：650*610；图片命名：mem_cover_渠道名全拼_第几条线路</span>(例如：mem_cover_guanfang_1.jpg)</td>
                       
                    </tr>
                    <!-- 新增 -->
                    <tr>
                        <td>独家回忆客服引导文案</td>
                        <td><textarea name="daoname" v-model="dujia_word" id="daoname" cols="90" rows="4"></textarea>
                        </td>
                        <td></td>
                      
                    </tr>
                    <tr>
                        <td>独家回忆分享标题</td>
                        <td><textarea name="daoname" v-model="dujia_showtitle" id="daoname" cols="90"
                                rows="4"></textarea>
                        </td>
                        <td><span style="color: red;">24个字以内</span>>（含标点符号在内）</td>
                        
                    </tr>
                    <tr>
                        <td>独家回忆分享图片</td>
                        <td><textarea name="daoname" v-model="dujia_showPage" id="daoname" cols="90"
                                rows="4"></textarea>
                        </td>
                        <td><span style="color: red;">图片尺寸：420*336，命名：memshare_渠道全拼_第几条线路</span>>
                            (例如：memshare_guanfang_1.jpg)</td>
                       
                    </tr>
                    <tr>
                        <td>体验按钮文案</td>
                        <td><textarea name="daoname" v-model="dujia_btnmsg" id="daoname" cols="90" rows="4"></textarea>
                        </td>
                        <td></td>
                       
                    </tr>
                    <tr>
                        <td>行程开始页配置</td>
                        <td>
                            <div class="road_end_msg">图片&nbsp;<input type="text" v-model="dujia_Go_imgs" id="road_end">
                            </div>
                            <div class="road_end_msg">音频&nbsp;<input type="text" v-model="dujia_Go_audio" id="road_end">
                            </div>
                        </td>
                        <td><span style="color: red;">图片尺寸：620*830，命名：start_渠道全拼_第几条线路</span>
                            (例如：start_guafang_1.jpg)</td>
                     
                    </tr>
                    <tr>
                        <td>行程结束页配置</td>
                        <td style="height: 270px;">
                            <div class="road_end_msg">音频&nbsp;<input type="text" v-model="dujia_end_audio"
                                    id="road_end"></div>
                            <div class="road_end_msg">图片&nbsp;<input type="text" v-model="dujia_end_img" id="road_end">
                            </div>
                            <div class="road_end_msg">
                                跳转类型 <select name="jumps" v-model="jump_type" id="jumps">
                                    <option value="-1">不跳转</option>
                                    <option value="0">跳转目录，不需要登录</option>
                                    <option value="1">跳转链接</option>
                                    <option value="2">跳转目录，需要登录</optio n>
                                </select>
                            </div>

                            <div class="msgs1" v-show="jump_type == 0 || jump_type == 2" style="position: relative;">
                                跳转&nbsp;&nbsp;
                                <div class="jump_Msgs"
                                    style="width: 554px;height:40px;position: absolute; top: 0px; left: 110px;">
                                    <select name="jump1" id="jump1" v-model="yj_choose"
                                        style="width: 150px;position: absolute;top: 0px;left: 0px;">
                                        <option value="0" v-show="jump_type == 0">详情页</option>
                                        <option value="1" v-show="jump_type == 0">反馈建议</option>
                                        <option value="2" v-show="jump_type == 2">指定个人卡包</option>
                                        <option value="3" v-show="jump_type == 0">指定线路卡包</option>
                                        <option value="4" v-show="jump_type == 2">个人全部行程页</option>
                                        <option value="5" v-show="jump_type == 2">指定线路的个人行程浏览列表</option>
                                        <option value="6" v-show="jump_type == 0">指定线路的浏览列表</option>
                                        <option value="7" v-show="jump_type == 2">所有独家回忆</option>
                                        <option value="8" v-show="jump_type == 0">指定独家回忆视频</option>
                                        <option value="9" v-show="jump_type == 0">指定个人行程的POI详情页</option>
                                        <option value="10" v-show="jump_type == 0">指定线路地图预览页</option>
                                    </select>
                                    <!-- </div> -->
                                    <!-- <div class="jump_Msg_Ch" style="width: 200px;height: 40px;"> -->
                                    <select name="jump2" id="jump2" v-model="route_id"
                                        style="width:150px;position: absolute;top: 0px;left: 175px;"
                                        v-show="yj_choose == 0 || yj_choose == 2 || yj_choose == 3 || yj_choose == 5 || yj_choose == 6 || yj_choose == 8 || yj_choose == 9 || yj_choose == 10">
                                        <option v-for="rn in routeName" :value="rn.Id">{{rn.Id}}-{{rn.Name}}</option>
                                    </select>
                                    <select name="jump2" id="jump2" v-model="Poi_choose"
                                        style="width:150px;position: absolute;top: 0px;left: 350px;"
                                        v-show="yj_choose == 2 || yj_choose == 3 || yj_choose == 9">
                                        <option v-for="pls in Poilist" :value="pls.poi_id">
                                            {{pls.poi_id}}-{{pls.poi_name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="road_end_msg" v-show="jump_type == 1">跳转链接&nbsp;&nbsp;<input
                                    style="width: 554px;height:40px;font-size:1.2em;color:rgb(92, 92, 92);background-color: white;border: 1px solid rgb(105, 105, 105);position: absolute;right: 0px;top: 0px;"
                                    v-model="jump_url" type="text" name="jump_link" id="jump_link">
                            </div>
                        </td>

                        <td><span style="color: red;">图片尺寸：620*830，命名：end_渠道全拼_第几条线路；</span>>跳转类型，推荐选择跳转到独家回忆(例如：end_guafang_1.jpg)</td>
                        
                    </tr>
                    <tr>
                        <td>地图背景</td>
                        <td><textarea name="daoname" v-model="dujia_Mapbg" id="daoname" cols="90" rows="4"></textarea>
                        </td>
                        <td><span style="color: red;">图片尺寸：750*1334，命名：bg_渠道全拼_第几条线路</span>
                            (例如：bg_guanfang_1.jpg)</td>
                      
                    </tr>
                    <tr>
                        <td>推荐路线</td>
                        <td><textarea name="daoname" v-model="dujia_niceroad" id="daoname" cols="90"
                                rows="4"></textarea>
                        </td>
                        <td>除了推荐路线区域，其他用透明，<span style="color: red;">图片尺寸：750*1334，命名：tjlx_渠道全拼_第几条线路</span>
                            (例如：tjlx_guanfang_1.png)</td>
                       
                    </tr>
                    <tr>
                        <td>地图坐标</td>
                        <td>
                            <div class="road_lat">
                                左上&nbsp;<input type="text" v-model="dujia_lat_leftUp_lon" name="leftup" id="leftup">
                                &nbsp;<input type="text" v-model="dujia_lat_leftUp_lat" name="leftup" id="leftup">
                                右上&nbsp;<input type="text" v-model="dujia_lat_rightUp_lon" name="leftup" id="leftup">
                                &nbsp;<input type="text" v-model="dujia_lat_rightUp_lat" name="leftup" id="leftup">
                            </div>
                            <div class="road_lat">
                                右下&nbsp;<input type="text" v-model="dujia_lat_rightDown_lon" name="leftup" id="leftup">
                                &nbsp;<input type="text" v-model="dujia_lat_rightDown_lat" name="leftup" id="leftup">
                                左上&nbsp;<input type="text" v-model="dujia_lat_leftDown_lon" name="leftup" id="leftup">
                                &nbsp;<input type="text" v-model="dujia_lat_leftDown_lat" name="leftup" id="leftup">
                            </div>
                        </td>
                        <td>地图背景图对应的真实地图的四个点的坐标，坐标点请在请在<a href="https://lbs.qq.com/tool/getpoint/index.html" target="_blank" style="color: rgb(23, 94, 226);">https://lbs.qq.com/tool/getpoint/index.html</a>中查找，<span style="color:red;">请准确填写</span></td>
                      
                    </tr>

                </tbody>
            </table>

            <div class="btn_All">
                <div class="btn_Left" @click="chongzhi()">重置</div>
                <div class="btn_Right" @click="saves()">保存</div>
            </div>
        </div>
        <!-- 添加 -->

    </div>
</body>

</html>