<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/POIgl/bianji.css">
</head>
<body>
    <div id="tall">
        <div class="all_Msgs">

            <div class="shouye_Img">
                poi路径规划数组&nbsp;&nbsp;<input type="text" name="imgs" id="shou_Imgs">
            </div>
            <div class="shouye_Img">
                两点之间距离&nbsp;&nbsp;<input type="text" name="imgs" id="shou_Imgs">
            </div>
            <div class="shouye_Img">
                两点之间步行时间&nbsp;&nbsp;<input type="text" name="imgs" id="shou_Imgs">
            </div>
            <div class="shouye_Img">
                详情页&nbsp;&nbsp;<input type="text" name="imgs" id="shou_Imgs">
            </div>
            <div class="shouye_Img">
                路线ID&nbsp;&nbsp;<input type="text" name="imgs" id="shou_Imgs">
            </div>
            <div class="shouye_Img">
                增加时间&nbsp;&nbsp;<input type="text" name="imgs" id="shou_Imgs">
            </div>    
            
            <div class="btn_All">
                <div class="btn_Left">重置</div>
                <div class="btn_Right">保存</div>
            </div>
        </div>
    </div>
</body>
</html>