<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="../../static/lib/layui/layui.js" charset="utf-8"></script>
    <link rel="stylesheet" href="../../static/css/dygl/bianji.css">
    <link rel="stylesheet" href="../../static/css/fanhui.css">
    <script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.16.1/axios.js"></script>
    <script src="../../static/js/dygl/dygl_add.js"></script>
</head>

<body>
    <div id="tall">
        <div class="TopChoose" style="margin-left: 0%;">
            <div class="fanhui">
                <img src="../../static/images/fanhui.png" alt="">
                <a href="javascript:history.go(-1)">返回</a>
            </div>
            <div class="reFalsh">
                <img src="../../static/images/shuaxin.png" alt="">
                <a href="javascript:void(0)" onclick="location.reload()">刷新</a></div>
        </div>
        <p class="addTouer">新增导游</p>
        <div class="all_Msgs" style="width: 95%;margin-left: 2.5%;margin-top: 22px;">
            <table class="layui-table">
                <thead>
                    <tr>
                        <th style="width:140px;">类目</th>
                        <th style="min-width:60px;">填写</th>
                        <th>示例</th>
                        <th>备注</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>导游名字</td>
                        <td><textarea name="daoname" id="daoname" v-model="d_Name"
                                style="width: 331px;height:50px;"></textarea></td>
                        <td>刘三妹</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>导游头像</td>
                        <td><textarea name="daoname" id="daoname" v-model="d_Imgs"
                                style="width: 331px;height:50px;"></textarea></td>
                        <td>http://imgs1.tuzuu.com/ketingxiaoting_1.png</td>
                        <td>"尺寸：100*100 命名规则：导游名字的英文全拼"</td>
                    </tr>
                </tbody>
            </table>
            <div class="btn_All">
                <div class="btn_Left" v-on:click="chongzhi()">重置</div>
                <div class="btn_Right" v-on:click="posts()">保存</div>
            </div>
        </div>
    </div>
</body>

</html>