<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>欢迎页面-X-admin2.0</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <!-- <meta name="viewport"
    content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" /> -->
  <!-- <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" /> -->
  <link rel="stylesheet" href="../../static/css/font.css">
  <link rel="stylesheet" href="../../static/css/xadmin.css">
  <link rel="stylesheet" href="../../static/lib/layui/css/layui.css">
  <script type="text/javascript" src="../../static/lib/layui/layui.js" charset="utf-8"></script>
  <script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
  <script type="text/javascript" src="../../static/js/xadmin.js"></script>
  <script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.min.js"></script>
  <script src="https://cdn.bootcss.com/axios/0.16.1/axios.js"></script>
  <link rel="stylesheet" href="../../static/css/dygl/dygl.css">
  <link rel="stylesheet" href="../../static/css/fenye.css">
  <link rel="stylesheet" href="../../static/css/tanchuang.css">
  <script src="../../static/js/dygl/dygl.js"></script>

</head>

<body>
  <div class="x-nav">
    </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
      href="javascript:location.replace(location.href);" title="刷新">
      <i class="layui-icon" style="line-height:30px">ဂ</i></a>
  </div>
  <div class="x-body" id="tall" style="overflow-y:scroll;">
    <div class="chaxun">

      导游名&nbsp;&nbsp;<input type="text" name="dname" v-model="dname" id="dname"> <i v-on:click="looks()"
        class="iconfont" style=" margin-left:20px; cursor: pointer;">&#xe6ac;</i>
    </div>

    <xblock>
      <button class="layui-btn layui-btn-danger" v-on:click="delAll()"><i class="layui-icon"></i>批量删除</button>
      <button class="layui-btn" @click="add_touer()"><i class="layui-icon"></i>添加</button>
      <span class="x-right" style="line-height:40px">共有数据： {{total}}条</span>
    </xblock>
    <table class="layui-table" style="min-width:1000px;">
      <thead>
        <tr>
          <th>
            选择
            <!-- <input type="checkbox" class="checks" value="" v-model="checkId"> -->
          </th>
          <th style="width:100px;">操作</th>
          <th style="width:40px;">id</th>
          <th style="width:60px;">导游名字(name)</th>
          <th>导游头像(img)</th>
          <!-- <th>导游欢迎语(Start)</th>
          <th>导游结束语(End)</th> -->
        </tr>
      </thead>
      <tbody id="tbodys">
        <tr v-for="dy in daoyou">
          <td>
           <input type="checkbox" class="checks" :value="dy.Id" v-model="checkId">
          </td>
          <td class="td-manage">
            <a title="编辑" v-on:click='btn_link(dy.Id)'>
              <i class="layui-icon">&#xe63c;</i>
            </a>
            <a title="删除" v-on:click="del(dy.Id)" href="javascript:;">
              <i class="layui-icon">&#xe640;</i>
            </a>
            <a title="复制到" href="javascript:;">
              <i class="layui-icon">&#xe744;</i>
            </a>
          </td>
          <td>{{dy.Id}}</td>
          <td>{{dy.Name}}</td>
          <td>{{dy.Img}}</td>
          <!-- <td>{{dy.Start}}</td>
          <td>{{dy.End}}</td> -->
        </tr>  
      </tbody>
    </table>
    <div class="page-bar">
        <ul>
            <li v-if="cur>1"><a v-on:click="cur--,pageClick()">上一页</a></li>
            <li v-if="cur==1"><a class="banclick">上一页</a></li>
            <li v-for="index in indexs"  v-bind:class="{ 'active': cur == index}">
                <a v-on:click="btnClick(index)">{{ index }}</a>
            </li>
            <li v-if="cur!=all"><a v-on:click="cur++,pageClick()">下一页</a></li>
            <li v-if="cur == all"><a class="banclick">下一页</a></li>
            <li><a>共<i>{{all}}</i>页</a></li>
            <!-- <li><select name="pages" id="pages" v-model="pagesNum" v-on:click="chooseNum()">
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="30">30</option>
              <option value="50">50</option>
            </select></li> -->
        </ul>
     
    </div> 

    <div class="tanchuang" v-if="tan_show == true">
      <div class="tanMsgs">你确定要删除此内容吗？</div>
      <div class="tanBtns">
        <div class="Cancel" v-on:click="Cancels()">取消</div>
        <div class="Confirms" v-on:click="Confirms()">确定</div>
      </div>
    </div>
    <div class="tanchuang" v-if="tan_show_list == true">
      <div class="tanMsgs">你确定要删除此内容吗？</div>
      <div class="tanBtns">
        <div class="Cancel" v-on:click="Refuse()">取消</div>
        <div class="Confirms" v-on:click="Delete()">确定</div>
      </div>
    </div>
  </div>

</body>

</html>