<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>土著行后台管理系统</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <!-- <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" /> -->
    <link rel="stylesheet" href="../static/css/font.css">
    <link rel="stylesheet" href="../static/css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="../static/lib/layui/layui.js" charset="utf-8"></script>
    <link rel="stylesheet" href="../../static/css/fenye.css">
    <link rel="stylesheet" href="../../static/css/dygl/dygl.css">
    <link rel="stylesheet" href="../../static/css/tanchuang.css">
    <script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.16.1/axios.js"></script>
    <script type="text/javascript" src="../static/js/xadmin.js"></script>

</head>

<body>
    <!-- <div id="tall"> -->
    <!-- 顶部开始 -->
    <div class="container">
        <div class="logo"><a href="javascript:;">后台管理</a></div>
        <div class="left_open">
            <i title="展开左侧栏" class="iconfont">&#xe699;</i>
        </div>
        <ul class="layui-nav right" id="talls" lay-filter="" style="margin-right:30px;">
            <li class="layui-nav-item">
                <a href="javascript:;">{{userNames}}</a>
                <dl class="layui-nav-child">
                    <!-- 二级菜单 -->
                    <dd><a href="javascript:;" @click="RewritePwd()">修改密码</a></dd>
                    <dd><a href="/login">切换帐号</a></dd>
                    <dd><a href="/login">退出</a></dd>
                </dl>
            </li>

        </ul>

    </div>
    <div class="left-nav">
        <div id="side-nav">
            <ul id="nav">
                <li>
                    <a _href='/dygl?token='>
                        <i class="iconfont">&#xe6b8;</i>
                        <cite>导游管理</cite>
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                </li>
                <li>
                    <a _href="/poigl?token=">
                        <i class="iconfont">&#xe715;</i>
                        <cite>POI管理</cite>
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>

                </li>
                <li>
                    <a _href="/lxgl?token=">
                        <i class="iconfont">&#xe6fb;</i>
                        <cite>线路管理</cite>
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>

                </li>
                <li>
                    <a _href="/firstPage?token=">
                        <i class="iconfont">&#xe6b2;</i>
                        <cite>首页&详情页管理</cite>
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                </li>
                <li>
                    <a _href="/qudaogl?token="  v-if="is_super">
                        <i class="iconfont">&#xe811;</i>
                        <cite>渠道管理</cite>
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                </li>
                <li>
                    <a _href="/banben?token="  v-if="is_super">
                        <i class="iconfont">&#xe724;</i>
                        <cite>版本控制</cite>
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                </li>
                <li>
                    <a _href="/loginCon?token="  v-if="is_super">
                        <i class="iconfont">&#xe724;</i>
                        <cite>账号管理</cite>
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="page-content">
        <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
            <ul class="layui-tab-title">
                <li class="home"><i class="layui-icon">&#xe68e;</i>我的桌面</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show" id="Ifreams" style="overflow:scroll;">
                    <img src="../static/images/bg1.png" style="margin-left:20%;width: 60%;height:800px;" alt="">
                    <!-- <iframe src='/dygl?token='+{{token}} frameborder="0" scrolling="yes" class="x-iframe"></iframe> -->
                </div>
            </div>
        </div>
    </div>
    <!-- </div> -->
    <div class="page-content-bg"></div>

    <div class="footer">
        <div class="copyright">&nbsp;&nbsp;&nbsp;&nbsp;土著行后台管理系统</div>
    </div>

</body>

</html>