<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>土著行后台管理系统</title>
    <link rel="stylesheet" href="../static/css/login.css">
    <script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.16.1/axios.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
    <script src="../static/js/login.js"></script>
</head>

<body>
    <div class="navAll">
        <img class="bgs" src="../static/images/bg.png" alt="">
        <div id="tall">
            <img class="logos" src="../static/images/login/logo.png" alt="">
            <div class="titles">土著行后台管理系统</div>
            <div id="name">
                <!-- <div class="names">用户名</div> -->
                <i class="icons_user"></i>
                <input type="text" name="name" v-model="name" id="names" placeholder="用户名">
            </div>
            <div id="name1">
                <!-- <div class="names">密码</div> -->
                <i class="icons_psd"></i>
                <input type="password" name="name" v-model="passNum" id="psd" placeholder="密码">
            </div>
            <!-- <div id="btn" @click='logins()' @keyup.enter="submit">点击登录</div> -->
            <input type="text" id="btn" @click='logins()'  @keyup.enter="submit" placeholder="点击登录">
        </div>
    </div>
</body>

</html>